.header {
    background-color: rgba(255, 239, 10, 0.323);
    outline: 1px solid rgba(255, 239, 10);
}

.header__nav {
    background-color: rgba(66, 17, 245, 0.288);
    outline: 1px solid rgba(66, 17, 245);
}

.header__list {
    background-color: rgba(10, 241, 87, 0.323);
    outline: 1px solid rgba(10, 241, 87);
}

.header__logo {
    background-color: rgba(241, 10, 241, 0.288);
    outline: 1px solid rgba(241, 10, 241);
}

.intro {
    background-color: rgba(255, 0, 0, 0.781);
    outline: 1px solid rgba(255, 0, 0);
}

.benefits__wrapper {
    background-color: rgba(255, 0, 0, 0.181);
    outline: 1px solid rgba(255, 0, 0);
}

.benefits-reason {
    background-color: rgba(17, 226, 139, 0.226);
    outline: 1px solid rgba(17, 226, 139);
}

.benefits-reason__inner {
    background-color: rgba(238, 60, 6, 0.226);
    outline: 1px solid rgba(238, 60, 6);
}

.advice {
    background-color: rgba(241, 107, 235, 0.432);
    outline: 1px solid rgba(241, 107, 235);
}

.advice__item {
    background-color: rgba(75, 57, 241, 0.432);
    outline: 1px solid rgba(75, 57, 241);
}

.benefits-reasons {
    background-color: rgba(4, 226, 71, 0.623);
    outline: 1px solid rgba(4, 226, 71);
}

.benefits-reasons__item {
    background-color: rgba(241, 10, 241, 0.288);
    outline: 1px solid rgba(241, 10, 241);
}

.searching__wrapper {
    background-color: rgba(255, 239, 10, 0.323);
    outline: 1px solid rgba(255, 239, 10);
}

.footer {
    background-color: rgba(10, 241, 87, 0.323);
    outline: 1px solid rgba(10, 241, 87);
}

.footer__tag {
    background-color: rgba(255, 239, 10, 0.323);
    outline: 1px solid rgba(255, 239, 10);
}

.footer__list {
    background-color: rgba(241, 10, 241, 0.288);
    outline: 1px solid rgba(241, 10, 241);
}

.footer__copyright {
    background-color: rgba(66, 17, 245, 0.288);
    outline: 1px solid rgba(66, 17, 245);
}


/*  */


/* Вторая страница */

.searching-hotels {
    background-color: rgba(27, 212, 42, 0.205);
    outline: 1px solid rgba(27, 212, 42);
}

.searching-hotels__section {
    background-color: rgba(59, 82, 160, 0.205);
    outline: 1px solid rgba(59, 82, 160);
}

.sort {
    background-color: rgba(241, 107, 235, 0.432);
    outline: 1px solid rgba(241, 107, 235);
}

.sort__list {
    display: flex;
}

.hotels__item {
    background-color: rgba(39, 156, 192, 0.432);
    outline: 1px solid rgba(39, 156, 192);
}