body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.page {
    background-color: #f2f2f2;
}

.page__container {
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    width: 1200px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.list {
    list-style: none;
}

.button {
    font: inherit;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
    border: none;
}

.button:hover {
    background-color: #669EC0;
}

.button:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
}

.button--brown {
    background-color: #766357;
}

.button--brown:hover {
    background-color: #604E43;
}

.button--brown:active {
    background-color: #503E33;
    color: rgba(255, 255, 255, 0.3);
}

.header__nav {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.header__list a {
    color: #000000;
}

.header__list a:hover {
    color: #81B3D2;
}

.header__list a:focus {
    color: #000000;
    opacity: 0.3;
}

.header__item--current .header__link {
    color: #766357;
}

.intro {
    /* Это просто бэкграунд */
    min-height: 509px;
    background: url("../img/intro-mask.svg") 0 100% no-repeat, url("../img/intro-background.png") 0 0 no-repeat;
}


/* main */

.benefits__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.benefits__desc {
    font-weight: 400;
    text-align: center;
    color: #333333;
}


/* REASONS */

.benefits-reason__title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.benefits-reason__subtitle,
.benefits-reason__desc {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.benefits-reason {
    background-color: #81B3D2;
}

.benefits-reason__background {
    background-image: url("../img/reason-one-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.advice__title {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
}

.advice__text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #333333;
}

.searching__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
}

.searching__desc {
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    text-align: center;
}

.searching__button {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.footer__tag {
    font-size: 21px;
    text-align: center;
    font-weight: bold;
}

.footer__item {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
}

.footer__link {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.footer__link--twitter {
    background-image: url("../img/twitter.svg");
}

.footer__link--facebook {
    background-image: url("../img/facebook.svg");
}

.footer__link--youtube {
    background-image: url("../img/youtube.svg");
}

.copyright__title {
    text-align: center;
    font-weight: 400;
}

.searching-form__label {
    text-align: left;
    font-weight: bold;
}

.count__input {
    text-align: center;
}

.searching-form__button {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
}

.searching-form__button:hover {
    background-color: #669EC0;
}

.searching-form__button:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3)
}

.searching-form__input {
    font: inherit;
    font-weight: bold;
    background-color: #f2f2f2;
}

.searching-form__input:hover {
    background-color: #ebebeb;
}

.searching-form__input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline: none;
}

.searching-form__input::placeholder {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.count__button,
.count__input {
    background-color: #f2f2f2;
}


/*  */


/* Catalog */

.searching-hotels__title {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

.searching-hotels {
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.searching-hotels__label {
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    font-weight: 400;
    color: #ffffff;
}

.searching-hotels__price-output {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
}

.searching-hotels__button {
    border: 2px solid #ffffff;
}

.searching-hotels__button:hover {
    background-color: #ffffff;
}

.sort__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

.sort__text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    color: #000000;
}

.sort__link {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}

.sort__link:hover {
    color: #81B3D2;
}

.sort__link:active {
    color: #000000;
    text-decoration: none;
}

.sort__item--active .sort__link {
    color: #81B3D2;
    text-decoration: none;
}

.hotels__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.hotels__text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    color: #333333;
}

.hotels__rating-current {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #666666;
}


/*  */


/* Styles for flexbox */

.header__nav {
    position: relative;
}

.header__list {
    padding: 0;
    margin: 0;
    display: flex;
}

.header__item {
    width: 239px;
}

.header__item:nth-child(3) {
    margin-left: auto;
}

.header__logo {
    position: absolute;
    left: 530px;
    top: 0;
}

.intro__image {
    padding-top: 76px;
    padding-left: 370px;
}

.benefits__title {
    margin: 0;
    padding-top: 60px;
}

.benefits__desc {
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0;
}

.benefits-reason__title {
    margin: 0;
}

.benefits-reason__inner {
    width: 280px;
    padding: 46px 60px 60px 60px;
    background-color: #81b3d2;
}

.benefits-reason {
    display: flex;
}

.benefits-reason--first .benefits-reason__background {
    background-image: url("../img/reason-one-background.jpg");
    /* background-position: 0 0; */
    background-repeat: no-repeat;
    min-height: 256px;
    width: 800px;
}

.advice {
    display: flex;
    justify-content: space-between;
}

.benefits-reason--second .benefits-reason__background {
    background-image: url("../img/reason-two-background.jpg");
    /* background-position: 0 0; */
    background-repeat: no-repeat;
    min-height: 256px;
    width: 800px;
}

.benefits-reasons {
    display: flex;
    justify-content: space-between;
}

.searching {
    text-align: center;
}

.searching__title {
    margin-top: 55px;
}

.searching__button {
    text-align: center;
}

.map {
    height: 593px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer__tag {
    padding-left: 132px;
}

.footer__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    display: flex;
    align-items: center;
    padding-right: 101px;
}